// _variables.scss

//COLORES
$color-principal: #1d454c;
$color-secundario: #f0cc20;
$color-nav-hover: #f5f0cd;
$color-nav-hover2: #f4da42;
$color-nav-active: #ffb700;
$color-nav-disable: #888;
$color-nav-otros: #f5f0cd;
$color-negro: #000;
$color-blanco: #fff;
$color-bordes: #e0e0e0;
$color-fondo-suave: #f7f7f7;

//FUENTES
$fuente-principal: 'Inter', sans-serif;
$font-weight-bold: 800;
$font-weight-medium: 500;
$font-weight-reg: 300;

//BORDER RADIUS
$radius-small: 8px;
$radius-medium: 12px;
$radius-large: 20px;

//BOX SHADOW
$box-shadow: 0 2px 6px rgba(0,0,0,0.1)

